@media screen and (min-width: 800px) {
    .container {
      margin: 1em 2em;
    }
  } 
  target / context = result 
  .col {
    width: 6.25%; /* 60 / 960 = 0.0625 */
  } 
  .container {
    column-count: 3;
  } 
  .container {
    column-width: 10em;
  } 
  .container {
    display: flex;
  }
  
  .item {
    flex: 1;
  } 
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  } 
  img {
    max-width: 100%:
  } 
  html {
    font-size: 1em;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
  h1 {
    font-size: 6vw;
  }
  h1 {
    font-size: calc(1.5rem + 3vw);
  }
